.six-cards {
	display: grid;
	grid-template-columns: 20vw 20vw 20vw;
	justify-content: center;
	grid-gap: 40px;
	color: #183b56;
	margin: 100px 0;
    background-color:#D4E0FF; /* Green background color */
    padding: 20px; /* Add padding as needed */
    
}

.swiss {
	grid-column: 1/4;
}

.swiss h2 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 100px;
	font-family: 'Abhaya Libre Extrabold', sans-serif;
	font-size: 50px;
}

.swiss {
	text-align: center;
}

.six-cards-element{
	text-align: center;
	display: flex;
    align-items: center;
}
.six-cards-element img {
	width: 40px;
	margin-top:0px;
	margin-left: 80px;
	margin-right: 4px;
	margin-bottom: 90px;
}
	
.six-cards-element h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom:10px;
}

.six-cards-element p {
	font-weight: 400;
	margin-bottom: 30px;
}

@media (max-width: 850px)
{
	.six-cards {
		grid-template-columns: 30vw 30vw;
	}

	.swiss {
		grid-column: 1/3;
	}
}

@media (max-width: 461px)
{
	.six-cards {
		grid-template-columns: 60vw;
	}

	.swiss {
		grid-column: 1/2;
	}
}

