* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-weight: 500;
	letter-spacing: .5px;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

nav {
	display: flex;
	padding: 25px 20px 0 5%;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
}

.titlecontainer {
	display: flex;
	width: 545px;
	/* margin-left: 5vw; */
}


.nav-and-sign {
	display: flex;
	align-items: center;
	background-color: #fff;
	color: #fff;
}

.nav-menu {
	display: inline-flex;
	background-color: #fff;
}

.nav-menu-item {
	padding: 12px 15px;
}

.nav-menu-item a, .dropdown {
	color: #183b56;
	position: relative;
}

.nav-menu-item a:hover, .dropdown:hover {
	color: #2294ed;
}

.dropdown-menu {
	display: none;
	position: absolute;
	margin-top: 13px;
	width: 180px;
}

.dropdown-menu li {
	padding: 13px 20px;
	background-color: #fff;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.sign {
	/* padding-right: 5vw; */
	display: flex;
	align-items: center;
	background-color: #fff;
}

.white-button-blue-text {
	padding: 12px 24px;
	color: #183b56;
	border: 1px solid #b9cde4;
	border-radius: 4px;
	margin: 0 10px;
	font-weight: 700;
}

.signin {
	background-color: #fff;
}

.white-button-blue-text:hover {
	border: 1px solid #2294ed;
	color: #2294ed;
}

.blue-button-white-text {
	background-color: #2294ed;
	border: 1px solid #2294ed;
	border-radius: 4px;
	padding: 12px 24px;
	font-weight: 700;
	color: #fff;
}

.blue-button-white-text:hover {
	background-color: #0061ad;
	border: 1px solid #0061ad;
}

.open-account {
	background-color: #2487CE;
	border: 1px solid #2487CE;
	border-radius: 4px;
	padding: 12px 24px;
	font-weight: 700;
	color: #fff;
}

.open-account:hover {
	background-color: #0061ad;
	border: 1px solid #0061ad;
}
@media (max-width : 1100px) {
	nav {
		display: flex;
	}

	.titlecontainer {
		justify-content: space-between;
		width: 100%;
	}

	.nav-and-sign, .nav-menu, .sign {
		display: grid;
		position: absolute;
		width: 100%;
		top: 30px;
		left: 0;
		transform: translateY(-100%);
		z-index: -1;
		align-items: left;
	}

	.navbartoggler {
		display: inline-grid !important;
		margin: 5px 0 5px 0;
	}

	.bar {
		width: 23px;
		height: 3px;
		margin-bottom: 2px;
		background: #183b56;
		border-radius: 20%;
		transition: .4s;
	}

	.bar:nth-child(1), .bar:nth-child(2) {
		margin-bottom: 1px;
	}



	.nav-menu-item, .signin, .signup {
		margin: 0 25px;
	}

	.signup {
		margin-bottom: 10px;
	}

	.signin {
		margin-top: 10px;
	}
	
	.dropdown-menu {
		margin-top: -40px;
	}
}

#toggle {
	display: none;
}

input:checked~nav ul {
	transform: translateY(0);
	z-index: 2;
	top: 78px;
}

input:checked~nav .nav-and-sign {
	transform: translateY(0);
	z-index: 0;
}

input:checked~nav .sign {
	transform: translateY(0);
	z-index: 0;
	top: 250px;
	grid-gap: 10px;
}

input:checked~nav .titlecontainer .navbartoggler {
	margin-top: 12px;
}

input:checked~nav .titlecontainer .navbartoggler .bar:nth-child(1) {
	position: absolute;
	transform: rotate(45deg);
}

input:checked~nav .titlecontainer .navbartoggler .bar:nth-child(2) {
	display: none;
}

input:checked~nav .titlecontainer .navbartoggler .bar:nth-child(3) {
	transform: rotate(-45deg);
}