.start-testing-today {
	display: block;
	text-align: center;
	margin: 10% 0;
	color: #183b56
}

.start-testing-today h3 {
	font-size: 40px;
	font-weight: 700;
}

.text-p {
	font-size: 20px;
	font-weight: 400;
	color: #577592;
	margin: 40px 0 55px 0;
}