* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-weight: 500;
	letter-spacing: .5px;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #444;
	margin: 0;
	padding: 0;
}

a {
	color: #2487ce;
	text-decoration: none;
}
  
a:hover {
	color: #469fdf;
}
.container {
	display: block;
	max-width: 90%;
	margin: 0 auto;
}



/* green red in statement & cheque */
.received, .cleared {
	color: green;
}

.sent, .stopped {
	color: red;
}

.pending {
	color: rgb(233, 136, 0);
}


/* index only for time being */

.open-account {
	background-color: #2487CE;
	border: 1px solid #2487CE;
	border-radius: 4px;
	padding: 12px 24px;
	font-weight: 700;
	color: #fff;
}

.open-account:hover {
	background-color: #0061ad;
	border: 1px solid #0061ad;
}