.container {
	display: block;
	max-width: 90%;
	margin: 0 auto;
}

.navcontainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}

.neumorphic-header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	background-color: #ffffff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* green red in statement/cheque */
.received, .cleared {
	color: green;
}

.sent, .stopped {
	color: red;
}

.pending {
	color: rgb(233, 136, 0);
}