{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	{% block title %}
	{% endblock %}
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="{% static 'assets/favicon.png' %}" rel="icon">
	<link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
	{% block stylecontent %}

	{% endblock %}

</head>

<body>

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top">
		<div class="container d-flex align-items-center justify-content-between">

			<h1 class="logo"><a href="/">NeoWave</a></h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html" class="logo"><img src="{% static 'assets/img/logo.png" alt="" class="img-fluid"></a>-->

			<nav id="navbar" class="navbar">
				<ul>
					<li><a class="nav-link scrollto" href="/">Home</a></li>
					<li><a class="nav-link scrollto" href="/useraccounts">Accounts</a></li>
					<li><a class="nav-link scrollto" href="/initiate_transaction">Fund Transfer</a></li>
					<li><a class="nav-link scrollto" href="/transaction_history">History</a></li>
					<li><a class="nav-link scrollto" href="#">nav4</a></li>
					<li><a class="nav-link scrollto" href="#">nav5</a></li>
					<li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
						<ul>
							<li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
								<ul>
									<li><a href="#">Deep Drop Down 1</a></li>
									<li><a href="#">Deep Drop Down 2</a></li>
									<li><a href="#">Deep Drop Down 3</a></li>
									<li><a href="#">Deep Drop Down 4</a></li>
									<li><a href="#">Deep Drop Down 5</a></li>
								</ul>
							</li>
							<li><a href="#">Address Change</a></li>
							<li><a href="#">Branch Change</a></li>
							<li><a href="#">Drop Down 3</a></li>
							<li><a href="#">Drop Down 4</a></li>
						</ul>
					</li>
					<li><a class="nav-link scrollto" href="#contact">Contact</a></li>
					{% if user.is_authenticated %}
						<li><a class="getstarted scrollto" href="logout">Logout</a></li>
					{% else %}
						<li><a class="getstarted scrollto" href="login">Login or Signup</a></li>
					{% endif %}
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav><!-- .navbar -->

		</div>
	</header>
	<br>
         <!-- diffrent contents rendered here-->
        {% block bodycontent %}

        {% endblock %}
</body>

</html>