{% extends 'base.html' %}
<head>
	{% block title %}
	<title>Log in to your Account- NeoWave Bank</title>
	{% endblock %}

	{% block stylecontent %}
		<style>
			.input {
				margin-top: 1rem;
				margin-bottom: 0;
			}
		</style>
	{% endblock %}
</head>
<body>
	{% block bodycontent %}
	<section>
		<div class="container">
			<div class="content">
				<form action="login" method="POST">
				<h1>Login Now</h1>

				<style>
					h3 {
						color: red;
					}
				</style>

				{% for message in messages %}
				<h3>{{message}}</h3>
				{% endfor %}
					{% csrf_token %}
					<p class="input">Username</p>
					<input type="text" name="username"/>
					<p class="input">Password</p>
					<input type="password" name="password" /><br><br>
					<input type="submit" class="button" />
				</form>
				<br>
				<a href="register">Create New Account</a>
			</div>
		</div>
	</section>
	{% endblock%}
</body>