{% extends 'base.html' %}
<head>
	{% block title %}
	<title>Open your Digital Savings Account- NeoWave Bank</title>
	{% endblock %}

	{% block stylecontent %}
		<style>
			
		</style>
	{% endblock %}
</head>
<body>
	{% block bodycontent %}
	<section>
		<div class="container">
			<div class="content">
				<h1>Open your Online Savings Account</h1>

				<style>
					h5{
						color: red;
					}
				</style>

				{% for message in messages %}
				<h5>{{message}}</h5>
				{% endfor %}

				<form method="POST" action="register">
					{% csrf_token %}

					<p>First Name</p>
					<input type="text" name="firstname" />
					<p>Last Name</p>
					<input type="text" name="lastname" />
					<p>Father's Name</p>
					<input type="text" name="fathername" />
					<p>Mother's Name</p>
					<input type="text" name="mothername" />
					<p>Address</p>
					<p>Street</p>
					<input type="text" name="street" />
					<p>City</p>
					<input type="text" name="city" />
					<p>Pincode</p>
					<input name="pincode" type="text" inputmode="numeric" pattern="[0-9]{6}">
					<p>Mobile Number</p>
					<input name="mobilenumber" type="text" inputmode="numeric" pattern="[0-9]{10}">
					<p>Choose Branch</p>
					<select name="branch">
						{% for branch in branches %}
							<option value="{{ branch.pk }}">{{ branch.branch_name }} ({{ branch.pincode}})</option>
						{% endfor %}
					</select>
					
					<p>Create Username</p>
					<input type="text" name="username" />
					<p>Email</p>
					<input type="email" name="email" />
					<p>Enter Password</p>
					<input type="password" name="password" />
					<p>Retype your Password</p>
					<input type="password" name="password1" /><br><br>
					<input type="submit" />

				</form>
			</div>
		</div>
	</section>
	{% endblock%}
</body>