{% extends 'base.html' %}
{% load static %}
<head>
	{% block title %}
	<title>Open your Digital Savings Account- NeoWave Bank</title>
	{% endblock %}
	{% block stylecontent %}
		<link href="{% static 'css/form.css' %}" rel="stylesheet">
	{% endblock %}

</head>
<body>
	{% block bodycontent %}
	<section>
		<div class="container">
			<div class="content">
				<form method="POST" action="register" class="form">
				<h1 >Open your Online Savings Account</h1>

				{% for message in messages %}
				<h5>{{message}}</h5>
				{% endfor %}

					{% csrf_token %}

					<p class="input">First Name</p>
					<input type="text" name="firstname" />
					<p class="input">Last Name</p>
					<input type="text" name="lastname" />
					<p class="input">Father's Name</p>
					<input type="text" name="fathername" />
					<p class="input">Mother's Name</p>
					<input type="text" name="mothername" />
					<p class="input">Address</p>
					<p class="input">Street</p>
					<input type="text" name="street" />
					<p class="input">City</p>
					<input type="text" name="city" />
					<p class="input">Pincode</p>
					<input name="pincode" type="text" inputmode="numeric" pattern="[0-9]{6}">
					<p class="input">Mobile Number</p>
					<input name="mobilenumber" type="text" inputmode="numeric" pattern="[0-9]{10}">
					<p class="input">Choose Branch</p>
					<select name="branch">
						{% for branch in branches %}
							<option value="{{ branch.pk }}">{{ branch.branch_name }} ({{ branch.pincode}})</option>
						{% endfor %}
					</select>
					
					<p class="input">Create Username</p>
					<input type="text" name="username" />
					<p class="input">Email</p>
					<input type="email" name="email" />
					<p class="input">Enter Password</p>
					<input type="password" name="password" />
					<p class="input">Retype your Password</p>
					<input type="password" name="password1" /><br><br>
					<input type="submit" class="button" />

				</form>
			</div>
		</div>
	</section>
	{% endblock%}
</body>