{% extends 'base.html' %}
<head>
	{% block title %}
	<title>Transaction History- NeoWave Bank</title>
	{% endblock %}

	{% block stylecontent %}
		<style>
			table {
						border-collapse: collapse;
						width: 100%;
				}

			th, td {
				padding: 5px; /* Adjust the padding value as needed */
				text-align: left;
				border-bottom: 1px solid #ddd;
			}

			th {
				background-color: #f2f2f2;
			}
			.received {
				color: lightgreen;
			}

			/* Define styles for outgoing (sent) transactions */
			.sent {
				color: lightcoral;
			}
		</style>
	{% endblock %}
</head>
<body>
	{% block bodycontent %}
	<section>
		<div class="container">
			<div class="content">
				<h1>Transaction History</h1>
				<form id="account_form" method="GET" action="{% url 'transaction_history' %}">
					<label for="account_select">Select Account:</label>
					<select name="account_select" id="account_select" onchange="selectAccount()">
						{% for account in accounts %}
							<option value="{{ account.account_number }}" {% if account == selected_account %}selected{% endif %}>{{ account.account_number }}</option>
						{% endfor %}
					</select>
				</form><br>
				<table>
					<thead>
						<tr>
							<th>Date & Time</th>
							<th>Account No</th>
							<th>Name</th>
							<th>Bank Reference No</th>
							<th>Amount</th>
							<th>Balance</th>
						</tr>
					</thead>
					<tbody>
						{% for data in transaction_data reversed %}
						<tr>
							<td>{{ data.transaction.timestamp }}</td>
							<td>
								{% if data.transaction.sender_account == selected_account %}
									To: {{ data.transaction.receiver_account_number }}
								{% else %}
									From: {{ data.transaction.sender_account.account_number }}
								{% endif %}
							</td>
							<td>
								{% if data.transaction.sender_account == selected_account %}
									{{ data.transaction.beneficiary_name }}
								{% else %}
									{{ data.transaction.sender_name }}
								{% endif %}
							</td>
							<td>{{ data.transaction.bank_reference_no }}</td>
							<td class="{% if data.transaction.sender_account == selected_account %}sent{% else %}received{% endif %}">
								{% if data.transaction.sender_account == selected_account %}
									-₹ {{ data.transaction.amount }}
								{% else %}
									+₹ {{ data.transaction.amount }}
								{% endif %}
							</td>
							<td>{{ data.balance }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<script>
		// Function to submit the form when an account is selected
		function selectAccount() {
			document.getElementById("account_form").submit();
		}
	</script>
	{% endblock%}
</body>
