{% extends 'base.html' %}
{% load static %}
<head>
	{% block title %}
	<title>Account Statement - NeoWave Bank</title>
	{% endblock %}

	{% block stylecontent %}
	<link href="{% static 'css/table.css' %}" rel="stylesheet">
	<link href="{% static 'css/style1.css' %}" rel="stylesheet">
		<style>
			h1 {
				text-align: center;
			}
		</style>
	{% endblock %}
</head>
<body>
	{% block bodycontent %}
	<section>
		<div class="container">
			<div class="content">
				<h1>Account Statement</h1><br><br>
				<h3>User ID: {{ request.user.username }}</h3>
				<h3>{{ request.user.profile.firstname }} {{ request.user.profile.lastname }}</h3>
				<h3>{{ request.user.profile.street }}, {{ request.user.profile.city }}, {{ request.user.profile.pincode }}</h3>
				<h3>Mobile No: {{ request.user.profile.mobilenumber }}</h3>
				{% for account_number, account_data in transaction_data.items %}
				<br><br><br>
				<h3>Account: {{ account_number }}</h3>
				<h3>IFSC: {{ account_data.ifsc }}</h3><br>
				<table>
					<thead>
						<tr>
							<th>Date & Time</th>
							<th>Account No</th>
							<th>Name</th>
							<th>Bank Reference No</th>
							<th>Amount</th>
							<th>Balance</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="5" style="text-align: right;">Opening Balance:</td>
							<td>{{ account_data.opening_balance }}</td>
						</tr>
						{% for transaction in account_data.transactions %}
						<tr>
							<td>{{ transaction.timestamp }}</td>
							<td>
								{% if transaction.sender_account.account_number == account_number %}
									To: {{ transaction.receiver_account_number }}
								{% else %}
									From: {{ transaction.sender_account.account_number }}
								{% endif %}
							</td>
							<td>{{ transaction.beneficiary_name }}</td>
							<td>{{ transaction.bank_reference_no }}</td>
							<td class="{% if transaction.sender_account.account_number == account_number %}sent{% else %}received{% endif %}">
								{% if transaction.sender_account.account_number == account_number %}
									-₹ {{ transaction.amount }}
								{% else %}
									+₹ {{ transaction.amount }}
								{% endif %}
							</td>
							<td>
								{% if transaction.sender_account.account_number == account_number %}
									{{ transaction.sender_balance_after_transaction }}
								{% else %}
									{{ transaction.receiver_balance_after_transaction }}
								{% endif %}
							</td>
						</tr>
						{% endfor %}
						<tr>
							<td colspan="5" style="text-align: right;">Closing Balance:</td>
							<td>{{ account_data.closing_balance }}</td>
						</tr>
					</tbody>
				</table>
				{% endfor %}
				<br><br>
			</div>
		</div>
	</section>
	{% endblock %}
</body>
