{% extends 'base.html' %}
<head>
	{% block title %}
	<title>Fund Transfer- NeoWave Bank</title>
	{% endblock %}

	{% block stylecontent %}
		<style>
			h4 {
				font-size: 150%;
			}
			h1 {
				font-size: 225%;
			}
			.content {
				max-width: 50%;
				box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
				display: block;
				margin: 0 auto;
			}
		</style>
	{% endblock %}
</head>
<body>
	{% block bodycontent %}
	<section>
		<div class="container">
			<div class="content">
		<br>
				<h1>₹ {{ transaction.amount }}</h1>
				<p>{{ amount_in_words }} rupees only.</p>
				<br>
				<h4>Transaction Successful</h4>
				<p>Your transaction has been successfully completed.</p>
				<br>
				<p>To</p>
				<h4>{{ transaction.beneficiary_name }}</h4>
				<p>NeoWave Bank - {{ transaction.receiver_account_number }}</p>
				<br>
				<p>From</p>
				<h4>{{ transaction.sender_name }}</h4>
				<p>NeoWave Bank - {{ sender_account_number }}</p>
				<br>
				<p>Paid at {{ transaction.timestamp }} <br>Bank Ref No: {{ transaction.bank_reference_no }}</p><br>
				<a href="{% url 'useraccounts' %}">Back to User Accounts</a><br><br>
			</div>
		</div>
	</section>
	{% endblock%}
</body>
